// ==============================
// Override Variables
// 覆盖变量
// ==============================

//$global-link-color: #e7c344;
//$global-link-color-dark: #d6a703;

$single-link-color-dark: #d6a703;
$code-background-color-dark: #353636;
$code-color-dark: #c6c6d0;


